p {
    color: white;
    text-align: right;
    margin-right: 2%;
    font-size: 60px;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
}

img {
    float: right;
    margin-top: 4%;
    margin-right: 4%;
    width: 40%;
}

body {
    font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  height: auto !important;
  height: 100%;
  background-color: skyblue;
  background-image: url("background_image.jpg");

  
  background-repeat: no-repeat, repeat;
  height: 1000px;
  background-size: cover;
}

.wrapper {
    background-image: url("background_image.jpg");
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}