<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="row">
        <div *ngFor="let project of projects" style="padding: 2%;" [class.selected]="project === selectedProject">
            <div class="flip-card" style="padding: 2%;">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h3 style="color: white;">{{project.name}}</h3>
                        <div class="polaroid">
                            <img src={{project.imgsrc}} alt="Avatar" style="width:200px;height:160px;">
                        </div>
                        <h5 style="color: white;">Status: {{project.status}}</h5>


                    </div>
                    <div class="flip-card-back">
                        <h3>{{project.name}}</h3>
                        <p>{{project.description}}</p>
                        <p>{{project.date}}</p>
                        <a routerLink="/detail/{{project.id}}" ><button (click)="onSelect(project)" style="float: left; margin-left: 4%; margin-top: 30%;">Detail</button></a>
                        <a href="{{project.source}}" target="_blank"><button style="float: right; margin-right: 4%; margin-top: 30%;">Source</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>



