.row {
  justify-content: center;
}

body {
  font-family: rockwell;
  margin: 0px;
  padding: 0px;
  height: auto !important;
  height: 100%;
  background-color: darkgray;
  /* background-image: url("background_image.jpg"); */

  
  background-repeat: no-repeat, repeat;
  height: 1000px;
  background-size: cover;
}

.card {
    background-color: lightskyblue;
}

.button-left {
    float: left; 
    margin-left: 4%; 
    margin-top: 4%;
    margin-bottom: 4%;
}

.button-right {
    float: right; 
    margin-right: 4%; 
    margin-top: 4%;
    margin-bottom: 4%;
}


.flip-card {
  background-color: transparent;
  width: 280px;
  height: 280px;
  perspective: 1000px;
  padding: 2%;
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 #24252A;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.flip-card-front {
  background-color: #24252A;
  color: black;
}

.flip-card-back {
  background-color: #24252A;
  color: black;
  transform: rotateY(180deg);
}

img {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin-bottom: 5px;
}

hr {
  background-color: white;
  margin-left: 4%;
  margin-right: 4%;
}