
<body>
    <div *ngIf="project">
        <br>
        <button (click)="goBack()" style="float: left;">Go Back</button>
        <a href="{{project.source}}" target="_blank"><button class="button" style="float: right;">Source Code</button></a>
        <h1 style="text-align: center;">{{project.name}}</h1>
        <hr>
        <h4>project.show<h3 style="color: rgba(206, 15, 15, 0.801); display: inline;">Description</h3>("{{project.name.split(" ").join("")}}");</h4>
        <h3 style="color: green;display: inline;">>> </h3><p style="display: inline;">{{project.description}}</p>
        <br>
        <br>
        <hr>
        <h4>project.show<h3 style="color: rgba(206, 15, 15, 0.801); display: inline;">Status</h3>("{{project.name.split(" ").join("")}}");</h4>
        <h3 style="color: green; display: inline;">>> </h3><p style="display: inline;">{{project.status}}</p>
        <br>
        <br>
        <hr>
        <br>
        <h4>project.show<h3 style="color: rgba(206, 15, 15, 0.801); display: inline;">Images</h3>("{{project.name.split(" ").join("")}}");</h4>
        <h3 style="color: green;">>> </h3>
        <div class="row">
            <div *ngFor="let image of project.images">
                <div class="column">
                    <img class="screenshots" src={{image}}>
                </div>
            </div>
        </div>
    </div>
</body>