body {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Rockwell, Arial, Helvetica, sans-serif;
    background-color: rgb(235, 230, 230);
    padding: 2%;
    border-radius: 50px;
}
hr {
    border-color:#0088a9;
}


.screenshots {
    height: 200px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin-bottom: 5px;
}
.column > img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(2);
  }

.column {
    float: left;
    /* width: 33.33%; */
    padding: 5px;
    flex: 33.33%
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: block;
    
}
