<body>
    <div *ngIf="project">
        <h2 style="text-align: center;">{{project.name}}</h2>
        <hr>
        <h4>project.show<h3 style="color: rgba(206, 15, 15, 0.801); display: inline;">Description</h3>("{{project.name.split(" ").join("")}}");</h4>
        <h2 style="color: green;display: inline;">>> </h2><p style="display: inline;">{{project.description}}</p>
        <hr>
        <h4>project.show<h3 style="color: rgba(206, 15, 15, 0.801); display: inline;">Status</h3>("{{project.name.split(" ").join("")}}");</h4>
        <h2 style="color: green; display: inline;">>> </h2><p style="display: inline;">{{project.status}}</p>
        <hr>
        <button (click)="goBack()" style="float: left;">Go Back</button>
        <a href="{{project.source}}" target="_blank"><button class="button" style="float: right;">Source Code</button></a>
    </div>
</body>