/* You can add global styles to this file, and also import other style files */

button {
  background-color: #0088a9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: sans-serif;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

body {
    margin: 0;
  padding: 0;
  font-family: Rockwell, Arial, Helvetica, sans-serif;
    background-color: rgb(98, 109, 109);
    background-image: url("assets/background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-blend-mode: screen;
  }
  

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
